*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.navbar{
    width: 100%;
    height: 20vh;
    text-align: center;
    position: sticky;
    top: 0;
    background-color: #fffdfd;
}
.logonav{
    width: 350px;
    padding-top: 45px;
}
.navlinks{
    padding: 10px;
}
.navlinks li{
    display: inline;
    padding-inline: 20px;
}
.navlinks li a{
    text-decoration: none;
    font-size: 25px;
    color: #293133;
}
.top{
    background-color:#fff;
    background-image: url(/images/GolfOlivarHinojosa.jpg);
    background-size: 110%;
    background-repeat: no-repeat;
    height: auto;
    margin: 10px;
    text-align: center;
}
.top h1{
    padding-top: 500px;
    font-size: 50px;
    color: #fff;
}
.top p{
    color: #fff;
    font-size: 25px;
    margin:20px;
    
}
.top p a{
    text-decoration: none;
    color: black;
    padding: 10px;
    border: solid 2px;

    background-color: #d3d3d3;
    margin: 10px;
}
.listgolf{
    background-color: rgb(234, 234, 234);
    width: 60%;
    margin: 20px auto;
    padding: 40px 100px;
    text-align: left;
}
.listgolf h2{
    color: black;
    font-size: 50px;
    padding-bottom: 20px;
}
.listgolf h3{
    color: black;
    font-size: 20px;
}
.listgolf p{
    padding-left: 16px;
    color: #293133;
    font-size: 20px;
}

.footer{
    background-color: #293133;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}
.footer p{
    color: #d3d3d3;
    font-size: 12px;
}