*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.navbar{
    width: 100%;
    height: 20vh;
    text-align: center;
    position: sticky;
    top: 0;
    background-color: #fffdfd;
}
.logonav{
    width: 350px;
    padding-top: 45px;
}
.navlinks{
    padding: 10px;
}
.navlinks li{
    display: inline;
    padding-inline: 20px;
}
.navlinks li a{
    text-decoration: none;
    font-size: 25px;
    color: #293133;
}
.container{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fffdfd;
}
.container img{
    width: 400px;
    border-radius: 100px;
}
.text h2{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #293133;
}
.text p{
    width: 700px;
    font-size: 20px;
    color: #293133;
}
.container1{
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fffdfd;
}
.container1 img{
    width: 400px;
    border-radius: 100px;
}
.text1 h2{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #293133;
}
.text1 p{
    width: 700px;
    font-size: 20px;
    color: #293133;
}
.footer{
    background-color: #293133;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}
.footer p{
    color: #d3d3d3;
    font-size: 12px;
}